<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.javabb.sharding.mapper.UserMapper">

    <insert id="save" parameterType="User">
        INSERT INTO t_user(user_name,sex,address)
        VALUES
        (
            #{userName},#{sex},#{address}
        )
    </insert>

    <select id="get" parameterType="long" resultType="User">
        select * from t_user where id = #{id}
    </select>
</mapper>